<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>260602 顯示修改餐點</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/20260601-03-ai.css">
    <style>

    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="row mb-3">
            <div class="col-12 mb-3 text-end">
                <span class="h5 py-2 rounded-3 fw-bold">總數：</span>
                <span class="h1 fw-bolder">{{ totalCount }}</span>
                <span>筆</span>
            </div>
            <div class="col-3">
                <div class="card rounded-2">
                    <div class="card-body text-center">
                        <div class="h5 text-bg-warning py-2 rounded-3 fw-bold">待處理</div>
                        <span class="h1 fw-bolder">{{ waitCount }}</span>筆
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded-2">
                    <div class="card-body text-center">
                        <div class="h5 text-bg-primary py-2 rounded-3 fw-bold">製作中</div>
                        <span class="h1 fw-bolder">{{ prepareCount }}</span>筆
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded-2">
                    <div class="card-body text-center">
                        <div class="h5 text-bg-success py-2 rounded-3 fw-bold">已完成</div>
                        <span class="h1 fw-bolder">{{ finishCount }}</span>筆
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded-2">
                    <div class="card-body text-center">
                        <div class="h5 text-bg-danger py-2 rounded-3 fw-bold">已取消</div>
                        <span class="h1 fw-bolder">{{ cancelCount }}</span>筆
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="display-4 text-center fw-bolder titel-bg">{{title}}</div>
            <div class="col-lg-6 col-xl-4 mt-3" v-for="item in orders">
                <div class="card h-100">
                    <div class="card-header d-flex justify-content-between align-items-center bg-info">
                        <div class="fs-5">訂單編號：#{{item.id}}</div>
                        <span class="badge"
                            :class="{'text-bg-warning':item.state === '待處理', 'text-bg-primary':item.state === '製作中', 'text-bg-success':item.state === '已完成', 'text-bg-danger':item.state === '已取消'}">
                            {{item.state}}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="fs-5 fw-bold">{{item.orderName}}</div>
                            <div class="text-secondary">用餐人數: {{item.orderPerson}}人</div>
                        </div>
                        <div class="border-top pt-3">
                            <div class="d-flex justify-content-between">
                                <span class="text-secondary">取餐方式</span>
                                <span class="fw-bold">{{item.pickUp}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-secondary">付款方式</span>
                                <span class="fw-bold">{{item.payFor}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-secondary">餐點數量</span>
                                <span class="fw-bold text-primary">共 {{item.mealCount}} 項</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-secondary">備註</span>
                                <span class="fw-bold" v-if="item.orderMemo!=''">{{item.orderMemo}}</span>
                                <span class="fw-bold fst-italic text-secondary" v-else>無備註其他需求</span>
                            </div>

                            <!-- 餐點明細 -->
                            <div class="border rounded-3 p-3 detail-tit" v-if="viewDetailId === item.id">
                                <div class="fw-bolder" style="font-size: 14px;">餐點明細</div>
                                <div class="d-flex justify-content-between mt-1 border-bottom"
                                    v-for="meal in item.shopCart">
                                    <span class="text-secondary">{{meal.name}}</span>
                                    <span class="fw-bold text-secondary">{{meal.price}} 元</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div class="fs-5 fw-bold">總計金額</div>
                            <span class="text-danger fw-bolder fs-4">NT$ {{item.totalPrice}} 元</span>
                        </div>
                        <div class="d-flex gap-3">
                            <button class="btn flex-fill" @click="viewDetail(item.id)"
                                :class="{'btn-primary':viewDetailId === item.id, 'btn-outline-primary':viewDetailId === null || viewDetailId !== item.id}">
                                <span v-if="viewDetailId === item.id">收合明細</span>
                                <span v-else>展開明細</span>
                            </button>
                            <button class="btn btn-success flex-fill" @click="showEditModel(item)">修改訂單</button>
                            <button class="btn btn-outline-danger flex-fill" @click="deleteOrder(item.id)"
                                v-if="item.state === '已取消' || item.state === '已完成'">
                                刪除訂單
                            </button>
                            <button class="btn btn-outline-danger flex-fill" @click="cancelOrder(item.id)" v-else>
                                取消訂單
                            </button>
                        </div>
                    </div>
                </div>

                <!-- End v-for="item in orders" -->
            </div>

            <!-- End container row -->
        </div>

        <!-- 修改表單 -->
        <div class="modal" tabindex="-1" role="dialog" id="editModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold fs-2"><span class="badge text-bg-info">修改訂單</span> #{{
                            editOrder.id }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 訂單狀態選單 -->
                        <div class="mb-3">
                            <select class="form-select form-select-lg text-bg-secondary text-white fw-bolder"
                                v-model="editOrder.state">
                                <option value="待處理">待處理</option>
                                <option value="製作中">製作中</option>
                                <option value="已完成">已完成</option>
                                <option value="已取消" disabled>已取消</option>
                            </select>
                        </div>

                        <div class="h4">訂單資料</div>
                        <div class="mb-2 input-group">
                            <span class="input-group-text">訂餐人姓名</span>
                            <input type="text" class="form-control" v-model="editOrder.orderName" disabled>
                        </div>
                        <div class="mb-2 input-group">
                            <span class="input-group-text">訂餐人電話</span>
                            <input type="text" class="form-control" v-model="editOrder.orderPhone" disabled>
                        </div>
                        <div class="mb-2 input-group">
                            <span class="input-group-text">用餐人數</span>
                            <input type="number" class="form-control form-control-lg text-center" min="1" max="30"
                                v-model="editOrder.orderPerson" placeholder="1 ~ 30 人"
                                :class="{'is-invalid':odPersonFlag === false}" :disabled="editOrder.state === '已完成'">
                            <div class="invalid-feedback">請輸入數字 1 ~ 30</div>
                        </div>
                        <div class="mb-2 input-group">
                            <span class="input-group-text">備註</span>
                            <textarea class="form-control" rows="3" placeholder="不加辣、需要餐具..."
                                v-model="editOrder.orderMemo" :class="{'is-invalid':odMemoFlag === false}"></textarea>
                            <div class="invalid-feedback">請輸入 30 字內</div>
                        </div>
                        <div class="text-secondary text-end">備註目前字數: {{ (this.editOrder.orderMemo || '').length }}/30
                        </div>

                        <div class="h4">付款方式</div>
                        <div class="mb-3">
                            <select class="form-select" v-model="editOrder.payFor"
                                :disabled="editOrder.state === '已完成'">
                                <option value="現金">現金</option>
                                <option value="信用卡">信用卡</option>
                                <option value="LINE PAY">LINE PAY</option>
                                <option value="悠遊Pay">悠遊Pay</option>
                            </select>
                        </div>

                        <div class="h4">取餐方式</div>
                        <div class="form-check form-check-inline">
                            <input id="pickUp01" type="radio" class="form-check-input" value="內用"
                                v-model="editOrder.pickUp" :disabled="editOrder.state === '已完成'">
                            <label for="pickUp01" class="form-check-label">內用</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="pickUp02" type="radio" class="form-check-input" value="到店取餐"
                                v-model="editOrder.pickUp" :disabled="editOrder.state === '已完成'">
                            <label for="pickUp02" class="form-check-label">到店取餐</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="pickUp03" type="radio" class="form-check-input" value="外送到府"
                                v-model="editOrder.pickUp" :disabled="editOrder.state === '已完成'">
                            <label for="pickUp03" class="form-check-label">外送到府</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" @click="updateOrder()"
                            :disabled="!isFormValid">更新訂餐資訊</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>

            <!-- End #editModal -->
        </div>

        <!-- End #App -->
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.13.2/dist/axios.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    title: "訂單列表 v2.0",
                    orders: [], // 從 json-server 取得所有的訂單
                    viewDetailId: null, // 紀錄要開啟的 order-id

                    // 紀錄目前正在修改的訂單
                    editOrder: {},
                    odPersonFlag: true,
                    odMemoFlag: true,

                }
            },
            methods: {
                // 讀取資料
                getOrders() {
                    const vm = this; // 這個 this 指全部的東西
                    axios.get('http://localhost:3000/orders')
                        .then(function (response) {
                            console.log(response);
                            vm.orders = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                        .finally(function () {
                            // always executed
                        });
                },
                viewDetail(id) {
                    if (this.viewDetailId === id) {
                        this.viewDetailId = null;
                    } else {
                        this.viewDetailId = id;
                    }
                },
                // Modal 設定
                showEditModel(item) {
                    // 複製點擊修改時的資料物件
                    const vm = this;
                    // ... => 複製資料但不改變原始資料
                    vm.editOrder = {
                        ...item
                    }

                    // 顯示 editModal
                    const modalElement = document.getElementById('editModal');
                    // 屬性設定參考 => Options
                    const modal = bootstrap.Modal.getOrCreateInstance(modalElement, {
                        backdrop: 'static',
                        keyboard: false,
                    });
                    modal.show();
                },
                // 送出更新訂單
                updateOrder() {
                    const vm = this;
                    const updateData = {
                        orderPerson: vm.editOrder.orderPerson,
                        orderMemo: vm.editOrder.orderMemo,
                        payFor: vm.editOrder.payFor,
                        pickUp: vm.editOrder.pickUp,
                        state: vm.editOrder.state
                    };

                    axios.patch('http://localhost:3000/orders/' + vm.editOrder.id, updateData)
                        .then(function (response) {
                            console.log(response);
                            Swal.fire({
                                title: "訂單修改成功！",
                                showDenyButton: false,
                                showCancelButton: false,
                                confirmButtonText: "確定",
                                cancelButtonText: "取消",
                                icon: "success",
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    // 關閉 editModal
                                    const modalElement = document.getElementById('editModal');
                                    const modal = bootstrap.Modal.getOrCreateInstance(modalElement);
                                    modal.hide();

                                    // 重新讀取資料
                                    vm.getOrders();
                                };
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                        .finally(function () {
                            // always executed
                        });
                },
                // 取消訂單
                cancelOrder(id) {
                    const vm = this;
                    Swal.fire({
                        title: "是否確定取消此單?",
                        showDenyButton: false,
                        showCancelButton: true,
                        confirmButtonText: "確定",
                        cancelButtonText: "取消",
                        icon: "warning",
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.patch(`http://localhost:3000/orders/${id}`, { state: "已取消" })
                                .then(function (response) {
                                    console.log(response);
                                    Swal.fire({
                                        title: "取消成功",
                                        showDenyButton: false,
                                        showCancelButton: false,
                                        confirmButtonText: "確定",
                                        cancelButtonText: "取消",
                                        icon: "success",
                                        allowOutsideClick: false
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // 重新讀取資料
                                            vm.getOrders();
                                        };
                                    });
                                })
                                .catch(function (error) {
                                    console.log(error);
                                })
                                .finally(function () {
                                    // always executed
                                });
                        };
                    });
                },
                // 刪除訂單
                deleteOrder(id) {

                    const vm = this;
                    Swal.fire({
                        title: "是否確定刪除此單?",
                        showDenyButton: false,
                        showCancelButton: true,
                        confirmButtonText: "確定",
                        cancelButtonText: "取消",
                        icon: "warning",
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: "刪除後將無法復原，是否確定?",
                                showDenyButton: false,
                                showCancelButton: true,
                                confirmButtonText: "確定",
                                cancelButtonText: "取消",
                                icon: "warning",
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.delete(`http://localhost:3000/orders/${id}`)
                                        .then(function (response) {
                                            console.log(response);
                                        })
                                        .catch(function (error) {
                                            console.log(error);
                                        })
                                        .finally(function () {
                                            // always executed
                                        });
                                    Swal.fire({
                                        title: "刪除成功",
                                        showDenyButton: false,
                                        showCancelButton: false,
                                        confirmButtonText: "確定",
                                        cancelButtonText: "取消",
                                        icon: "success",
                                        allowOutsideClick: false
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // 重新讀取資料
                                            vm.getOrders();
                                        };
                                    });
                                };
                            });
                        };
                    });
                },
            },
            // mounted：在網頁載入時，會先執行的功能 (Ex.取得相關資料)
            mounted() {
                this.getOrders();
            },
            // 監視/監聽項目是否有異動
            watch: {
                'editOrder.orderPerson'(newValue) {
                    if (newValue >= 1 && newValue <= 30) {
                        this.odPersonFlag = true;
                    } else {
                        this.odPersonFlag = false;
                    }
                },
                'editOrder.orderMemo'(newValue) {
                    // console.log(newValue);
                    if (newValue.length === 0) {
                        this.odMemoFlag = true;
                    } else if (newValue.length > 0 && newValue.length < 31) {
                        this.odMemoFlag = true;
                    } else {
                        this.odMemoFlag = false;
                    }
                },
            },
            // 即效
            computed: {
                isFormValid() {
                    // 判斷表單是否完整可以被送出 => disabled 控制
                    if (this.odPersonFlag === true &&
                        this.payFor !== "" &&
                        this.pickUp !== "" &&
                        this.odMemoFlag !== false
                    ) {
                        return true;
                    } else {
                        return false;
                    }
                },
                totalCount() {
                    return this.orders.length;
                },
                waitCount() {
                    let i = 0;
                    this.orders.forEach(element => {
                        console.log(element.state);
                        if (element.state === '待處理') {
                            i += 1;
                        }
                    });
                    return i;
                },
                prepareCount() {
                    let i = 0;
                    this.orders.forEach(element => {
                        console.log(element.state);
                        if (element.state === '製作中') {
                            i += 1;
                        }
                    });
                    return i;
                },
                finishCount() {
                    let i = 0;
                    this.orders.forEach(element => {
                        console.log(element.state);
                        if (element.state === '已完成') {
                            i += 1;
                        }
                    });
                    return i;
                },
                cancelCount() {
                    let i = 0;
                    this.orders.forEach(element => {
                        console.log(element.state);
                        if (element.state === '已取消') {
                            i += 1;
                        }
                    });
                    return i;
                }
            }
        }).mount("#app");
    </script>
</body>

</html>